* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    overflow: auto;
    background-color: #EEA192;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.menu a {
    float: none;
    padding: 20.5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #D88C85;
}


/*parte responsiva*/

@media screen and (max-width: 800px) {
    .menu a {
        float: none;
        display: block;
    }
}