* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    text-align: center;
    float: center;
    color: #D88C85;
    font-size: 50px;
}

.head span {
    text-align: center;
    color: #70885D;
    font-size: 20px;
}


/*parte responsiva*/

@media screen and (max-width: 1120px) {
    .head {
        text-align: center;
        float: none;
        padding-right: 0;
        padding-top: 0;
        padding-left: 0;
    }
    .head span {
        text-align: center;
        float: none;
        padding-top: 0;
        padding-right: 0;
    }
}